[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Type=simple
ExecStart=/home/mateus/dotfiles/swhkd/hotkeys.sh

[Install]
WantedBy=default.target